@use "../abstract/variable" as *;
@use "../abstract/mixins" as *;

.followers {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4,  1fr);
  grid-gap: 2rem;
  justify-content: center;

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond (phone) {
    grid-template-columns: 1fr;
    }

  &-card {
    background: var(--d-dark-desaturated-blue);
    height: 22rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

    .followers-counts {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 5.5rem;
        color: var(--d-white-text);
      }

      span {
        font-size: 1.2rem;
        letter-spacing: 5px;
        color: var(--d-desaturated-blue-text);
        text-transform: uppercase;
      }
    }

    .todays-count {
      font-size: 1.2rem;
      font-weight: 700;
      span {
        color: var(--limeGreen);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          padding-top: 8px;
          padding-right: 0.5rem;
        }
      }

      .count-down {
        color: var(--brightRed);

        i {
          transform: rotate(180deg);
          padding-left: 0.5rem;
          padding-top: 4px;
        }
      }
    }

    .social-icon-card-1,
    .social-icon-card-2,
    .social-icon-card-3,
    .social-icon-card-4 {
      display: flex;
      align-items: center;
      i {
        font-size: 2.4rem;
        margin-right: 0.8rem;
      }

      span {
        color: var(--d-desaturated-blue-text);
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    .social-icon-card-1 {
      i {
        color: var(--facebook);
      }
    }

    .social-icon-card-2 {
      i {
        color: var(--twitter);
      }
    }
    .social-icon-card-3 {
      i {
        display: inline-block;
        color: transparent;
        background-image: linear-gradient(to right, var(--instagram1), var(--instagram2));
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    .social-icon-card-4 {
      i {
        color: var(--youtube);
      }
    }
  }

  .card-1 {
    border-top: 5px solid var(--facebook);
   
  }
  .card-2 {
    border-top: 5px solid var(--twitter);
    
  }
  .card-3 {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-image: linear-gradient(to right, var(--instagram1), var(--instagram2));
    }
  }
  .card-4 {
    border-top: 5px solid var(--youtube);
  }
}
