@use "../abstract/variable";
@use "../abstract/mixins" as *;

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: var(--d-bg-dark-blue-top);
  height: 25rem;
  transition: all 0.3s linear;

  .header-container {
    max-width: 115rem;
    width: 100%;
    padding: 5rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(tab-land) {
      display: block;
    }

    .heading {
      &__title {
        color: var(--d-white-text);
        font-size: 2.8rem;

        @include respond(phone) {
          font-size: 2rem;
        }
      }
      &__text {
        color: var(--d-desaturated-blue-text);
        font-weight: 700;
        @include respond(tab-land) {
          padding-bottom: 2rem;
        }
      }
    }
  }
}
