@use "../abstract/variable";

header {
  width: 110rem;
  height: 14rem;
  background: var(--d-bg-dark-blue-top);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading {

    &__title {
      color: var(--d-white-text);
      font-size: 2.2rem;
    }
    &__text {
      color: var(--d-desaturated-blue-text);
      font-weight: 700;
    }
  }

  .toggle__btn {
    padding: 1.2rem 4.5rem;
    color: #fff;
    border: 0;
    background: var(--d-bg-dark-blue-top);
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: .5);
    border-radius: 20px;
  }
}