@use "../abstract/variable" as *;
@use "../abstract/mixins" as *;

.overview {
  margin-top: 5rem;

  &-title {
    color: var(--d-white-text);
    font-size: 2.5rem;
    margin-bottom: 4.25rem;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 12.5rem);
    grid-gap: 2rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    &-card {
      background: var(--d-dark-desaturated-blue);
      border-radius: 5px;
      padding: 2rem 3rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s linear;
      cursor: pointer;

      &:hover,
      &:active {
        background: var(--d-hover-bg);
      }

      &-top {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
          font-size: 1.4rem;
          font-weight: 700;
          color: var(--d-desaturated-blue-text);
        }
        i {
          font-size: 2.4rem;
        }
      }

      &-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h2 {
          font-size: 3.2rem;
          color: var(--d-white-text);
        }
        span {
          color: var(--limeGreen);
          font-size: 1.2rem;
          font-weight: 700;

          display: flex;
          align-items: center;
          justify-content: center;

          i {
            padding-top: 0.5rem;
            padding-right: 0.5rem;
          }
        }
        .count-down {
          color: var(--brightRed);

          i {
            transform: rotate(180deg);
            padding-left: 0.5rem;
          }
        }
      }
    }

    .overview-card {
      &-1,
      &-2 {
        .social-icon {
          color: var(--facebook);
        }
      }

      &-3,
      &-4 {
        .social-icon {
          display: inline-block;
          color: transparent;
          background-image: linear-gradient(to right, var(--instagram1), var(--instagram2));
          background-clip: text;
          -webkit-background-clip: text;
        }
      }

      &-5,
      &-6 {
        .social-icon {
          color: var(--twitter);
        }
      }

      &-7,
      &-8 {
        .social-icon {
          color: var(--youtube);
        }
      }
    }
  }
}
