*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  box-sizing: border-box;
  background: var(--d-bg-dark-blue);

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 110rem;
  width: 100%;
  padding: 0 2rem;
}